body {
  background-color: #ddd;
  border: 2px solid;
  height: 100vh;
  margin: 0;
  display: flex;
}

#three-container {
  border: 2px solid #000;
  width: 400px;
  height: 300px;
  position: relative;
  top: 20%;
  left: 45%;
  overflow: hidden;
}

canvas {
  display: block;
}

.Answer_box1 {
  background-color: #fff;
  border: 2px solid;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 470px;
  display: flex;
  position: absolute;
  top: 20%;
  left: 12%;
}

.b1, .b2, .b3, .b4, .b5, .b6 {
  border: 2px solid;
  align-items: center;
  width: 80%;
  height: 50px;
  margin-top: 20px;
  display: flex;
}

.Choices_box {
  background-color: #fff;
  border: 2px solid;
  flex-wrap: wrap;
  gap: 20px;
  width: 1020px;
  height: 200px;
  display: flex;
  position: absolute;
  top: 55%;
  left: 45%;
}

h2 {
  position: absolute;
}

.list {
  cursor: grab;
  background-color: #0ff;
  border: 2px solid;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 50px;
  display: flex;
}

.resultMessage {
  background-color: gray;
  border: 2px solid;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 150px;
  font-size: 20px;
  display: none;
  position: absolute;
  top: 30%;
  left: 45%;
}

#checkButton {
  cursor: pointer;
  border-radius: 10px;
  width: 400px;
  height: 60px;
  font-size: 30px;
  position: absolute;
  top: 700px;
  left: 12%;
}

#checkButton:hover {
  background-color: green;
}

@media (width <= 1630px) {
  .Choices_box {
    background-color: #fff;
    border: 2px solid;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 250px;
    display: flex;
    position: absolute;
    top: 55%;
    left: 45%;
  }

  #three-container {
    border: 2px solid #000;
    width: 400px;
    height: 300px;
    position: relative;
    top: 15%;
    left: 45%;
    overflow: hidden;
  }

  #checkButton {
    cursor: pointer;
    border-radius: 10px;
    width: 400px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    top: 90%;
    left: 12%;
  }
}

@media (width <= 1467px) {
  .Answer_box1 {
    background-color: #fff;
    border: 2px solid;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 470px;
    display: flex;
    position: absolute;
    top: 20%;
    left: 1%;
  }

  .Choices_box {
    background-color: #fff;
    border: 2px solid;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 250px;
    display: flex;
    position: absolute;
    top: 55%;
    left: 34%;
  }

  #three-container {
    border: 2px solid #000;
    width: 400px;
    height: 300px;
    position: relative;
    top: 15%;
    left: 35%;
    overflow: hidden;
  }

  #checkButton {
    cursor: pointer;
    border-radius: 10px;
    width: 400px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    top: 90%;
    left: 1%;
  }
}

@media (width <= 1230px) {
  .Answer_box1 {
    background-color: #fff;
    border: 2px solid;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 470px;
    display: flex;
    position: absolute;
    top: 20%;
    left: 1%;
  }

  .Choices_box {
    background-color: #fff;
    border: 2px solid;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 500px;
    display: flex;
    position: absolute;
    top: 15%;
    left: 69%;
  }

  #three-container {
    border: 2px solid #000;
    width: 400px;
    height: 300px;
    position: relative;
    top: 15%;
    left: 35%;
    overflow: hidden;
  }

  #checkButton {
    cursor: pointer;
    border-radius: 10px;
    width: 250px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    top: 70%;
    left: 40%;
  }
}

@media (width <= 1190px) {
  .list {
    cursor: grab;
    background-color: #0ff;
    border: 2px solid;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    display: flex;
  }

  .Answer_box1 {
    background-color: #fff;
    border: 2px solid;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 470px;
    display: flex;
    position: absolute;
    top: 20%;
    left: 1%;
  }

  .Choices_box {
    background-color: #fff;
    border: 2px solid;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 500px;
    display: flex;
    position: absolute;
    top: 15%;
    left: 76%;
  }

  #three-container {
    border: 2px solid #000;
    width: 400px;
    height: 300px;
    position: relative;
    top: 15%;
    left: 28%;
    overflow: hidden;
  }

  #checkButton {
    cursor: pointer;
    border-radius: 10px;
    width: 250px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    top: 70%;
    left: 34%;
  }
}

@media (width <= 600px) {
  .b1, .b2, .b3, .b4, .b5, .b6 {
    border: 2px solid;
    align-items: center;
    width: 40%;
    height: 20%;
    display: flex;
  }

  .list {
    cursor: grab;
    background-color: #0ff;
    border: 2px solid;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 20%;
    display: flex;
  }

  .Answer_box1 {
    background-color: #fff;
    border: 2px solid;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    width: 98vw;
    height: 25%;
    display: flex;
    position: absolute;
    top: 40%;
    left: 1%;
  }

  .Choices_box {
    background-color: #fff;
    border: 2px solid;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 98vw;
    height: 25%;
    display: flex;
    position: absolute;
    top: 65%;
    left: 1%;
  }

  #three-container {
    border: 2px solid #000;
    width: 98vw;
    height: 300px;
    position: relative;
    top: 2%;
    left: 1%;
    overflow: hidden;
  }

  #checkButton {
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: 30px;
    position: absolute;
    top: 93%;
    left: 39%;
  }
}

@media (height <= 750px) and (width >= 1000px) {
  #three-container {
    border: 2px solid #000;
    width: 400px;
    height: 300px;
    position: relative;
    top: 10%;
    overflow: hidden;
  }
}

@media (height <= 650px) and (width >= 1000px) {
  #three-container {
    border: 2px solid #000;
    width: 400px;
    height: 300px;
    position: relative;
    top: 5%;
    overflow: hidden;
  }
}

@media (width <= 600px) and (height <= 800px) {
  .b1, .b2, .b3, .b4, .b5, .b6 {
    border: 2px solid;
    align-items: center;
    width: 40%;
    height: 20%;
    font-size: small;
    display: flex;
  }

  .list {
    cursor: grab;
    background-color: #0ff;
    border: 2px solid;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 20%;
    display: flex;
  }

  .Answer_box1 {
    background-color: #fff;
    border: 2px solid;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    width: 98vw;
    height: 22%;
    display: flex;
    position: absolute;
    top: 45%;
    left: 1%;
  }

  .Choices_box {
    background-color: #fff;
    border: 2px solid;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 98vw;
    height: 22%;
    display: flex;
    position: absolute;
    top: 72%;
    left: 1%;
  }

  #three-container {
    border: 2px solid #000;
    width: 98vw;
    height: 300px;
    position: relative;
    top: 2%;
    left: 1%;
    overflow: hidden;
  }

  #checkButton {
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    font-size: 15px;
    position: absolute;
    top: 95%;
    left: 39%;
  }
}
/*# sourceMappingURL=index2.3092e1e0.css.map */
